<!DOCTYPE html>
<html>

<head>
  <title>アニメガチャ</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/kube.min.css" />
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h1>アニメガチャβ</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-7">
        <img id="animeimg" src="" alt="">
        <table>
          <tbody>
            <tr>
              <td>タイトル</td>
              <td><h1 id="animetitle"></h1></td>
            </tr>
            <tr>
              <td>放送開始</td>
              <td><p id="startDay"></p></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col col-5">
        <button class="button" id="draw">ガチャる！</button>
      </div>
    </div>
    <div>
      改良中...
    </div>
    <div>
      説明
    </div>
  </div>
</body>

</html>