<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheets/kube.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script src="javascripts/script.js"></script>
  <title>ガチャ</title>
</head>
<body>
  <div class="container">
    <img src="images/navbar.png" class="justwidth">

    <div id="before">
      <img src="images/title.png" class="justwidth" id="title">
      <img src="images/gatyaru1-1.png" class="justwidth" id="gatyaru">
    </div>
    <div id="after">
      <img id="animeimg" src="" alt="">
      <h1 id="animetitle"></h1>
      <p id="startDay"></p>
      <img src="images/gatyaru2-1.png" class="justwidth" id="regatyaru">
    </div>

    <img src="images/infobar.png" class="before justwidth">
    <img src="images/plate.png" class="justwidth" id="plate">
  </div>
</body>
</html>
